<div class="settings">
  <img
    id="settings-icon"
    src="../../../assets/images/settings.png"
    alt="settings icon"
  />
  <h1>Settings</h1>
  <div class="add-padding">
    <app-settings-volume></app-settings-volume>
  </div>
  <div class="add-padding">
    <app-settings-text-size></app-settings-text-size>
  </div>
  <div class="add-padding">
    <app-settings-question-type></app-settings-question-type>
  </div>

  <app-back-button></app-back-button>
  <app-leaderboard-item></app-leaderboard-item>
</div>
